@import "../util/colorsfonts";
@import "../util/mixins";

#card-view {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.4);
}

// ==================     CARD DEFAULT / RESUMO       ==================

.card {
  @include flexCenterCollumn;
  border: $borderColor;
  border-radius: $boderRadius;
  margin: 1rem 0;
  transition: all 0.3s;

  &__header {
    @include cardHeaders;
    h2 {
      font-family: $roboto;
      font-size: 2rem;
      font-weight: 500;
      margin-left: 1rem;
      line-height: 2.5rem;
      color: $ShadowCardColor;
    }
  }
  &__body {
    p {
      @include paragraphDefault;
      strong {
        color: $primaryColor;
        font-weight: 900;
        cursor: pointer;
      }
      #read-content {
        display: none;
      }
    }
  }
  &__input {
    width: 98%;
    // padding: 0 1rem;
    margin: 1rem 1rem;
    max-height: 3.9rem;
    height: 3.9rem;
    border: 0.1rem solid $borderForm;
    border-radius: $boderRadius;
    // margin-bottom: 1rem;
    &:hover {
      border: 0.1rem solid $primaryColor;
    }
    &:focus {
      background-color: $headerColor;
    }
  }
  label {
    font-family: $roboto;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $primaryColor;
    margin: 1rem;
  }
}

// ==================     POST        ==================

.card__topico {
  @include flexCollumn;
  justify-content: center;
  border: $borderColor;
  border-radius: $boderRadius;
  margin: 2rem 0;

  &__header {
    @include cardHeaders;
    h2 {
      font-family: $roboto;
      font-size: 2rem;
      font-weight: 500;
      margin-left: 1rem;
      line-height: 2.5rem;
      color: $ShadowCardColor;
    }
  }
  &__body {
    @include flexCentralCollumn;
    position: relative;
    padding: 1rem;
    img {
      margin: 2rem 2rem;
    }
    h2 {
      font-family: $roboto;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.1rem;
      color: $primaryColor;
    }
    p {
      @include paragraphDefault;
      width: 60.2rem;
      text-align: center;
      color: $textColor;
    }
  }
  button {
    font-family: $quickSand;
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    border: none;
    bottom: 0;
    height: 3.2rem;
    width: 13.3rem;
    color: #fff;
    cursor: pointer;
    background-image: $gradientColor;
    border-radius: $boderRadiusLg;
    transform: translateY(50%);
    .btn-i {
      margin-right: 0.5rem;
    }
    // p {
    //   color: #fff;
    //   padding: 0;
    //   margin: 0;
    // }
  }
}
