@import "../util/colorsfonts";
@import "../util/mixins";

.footer {
  @include flexAlignCenter;
  border-top: 0.1rem solid $graylightColor;
  margin-top: 2rem;
  &__img {
    width: 25rem;
  }
  &__text {
    @include flexCollumn;
    p {
      font-family: $quickSand;
      font-size: 1.5rem;
      color: $secondaryColor;
    }
  }
}
