@import "../util/colorsfonts";
@import "../util/mixins";

.nav {
  @include flexCollumn;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 22rem;
  height: 100%;
  box-shadow: 0.5rem 0.5rem 0.5rem $graylightColor;
  background-color: #fff;
  &__title {
    display: inline;
    height: 6.8rem;
    background: $gradientColor;
    h1 {
      text-align: center;
      font-size: 3rem;
      color: #fff;
    }
  }
  ul {
    @include flexCollumn;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      a {
        font-family: $roboto;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        width: 100%;
        border-bottom: 0.2rem $colorGreyLight solid;
        &:hover {
          background-color: $colorHeader;
          border-left: 0.4rem solid transparent;
          border-image: $gradientColor;
          border-image-slice: 1;
          border-bottom: none;
        }
      }
    }
  }
}
