@import "../util/colorsfonts";
@import "../util/mixins";

.news-content {
  display: flex;
  flex-direction: row;
  .video-palyer {
    display: flex;
    .video {
      @include flexCollumn;
      justify-content: space-between;
      width: 78.3rem;
      height: 43.9rem;
      z-index: 10;
      color: #fff;
      position: relative;
      &__contianer {
        z-index: 20;
      }
      &__tittle {
        z-index: 20;
      }
      .fade {
        width: 78.3rem;
        height: 43.9rem;
        background-color: rgba(141, 53, 6, 0.5);
        position: absolute;
        z-index: 4;
        transition: all 0.3s;
      }
      #video-content {
        width: 78.3rem;
        height: 43.9rem;
        position: absolute;
        z-index: -1;
      }
      h2 {
        margin: 2rem 3rem;
        font-family: $roboto;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.5rem;
      }
      &__bottom {
        display: flex;
      }
      &__img {
        @include flexCollumn;
        margin: 0 3rem;
        .player__option {
          display: flex;
          justify-content: space-between;
          margin: 1rem;
          .btnPause {
            display: none;
            // margin: 1rem;
          }
          .btnMuted {
            display: none;
          }
          .btnMuted,
          .btnPause,
          .btnVolume,
          .btnPlay,
          .btnMuted {
            z-index: 9;
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
        .video__contianer {
          @include flexAlignCenter;
          padding: 1rem;
          img {
            border: 0.1rem solid $primaryColor;
            margin-bottom: 2rem;
            border-radius: 50%;
          }
          &-img {
            margin-left: 1rem;
            h1 {
              font-family: $roboto;
              font-weight: 900;
              font-size: 3.4rem;
              line-height: 2.5rem;
              padding: 0;
              margin: 0;
            }
            h3 {
              font-family: $roboto;
              font-weight: 900;
              font-size: 2rem;
              line-height: 2.5rem;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
