@import "../util/colorsfonts";
@import "../util/mixins";

.news-content {
  display: flex;
  flex-direction: row;
  .video {
    flex-basis: 78.3rem;
    height: 43.9rem;
    border: 1px red solid;
  }
}
