$borderColor: 0.1rem solid #ececec;
$boderRadius: 0.3rem; //talvez não vou uzar
$boderRadiusLg: 0.4rem; //talvez não vou uzar
$gradientColor: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
$headerColor: #fdf1eb;
$primaryColor: #ed7839;
$secondaryColor: #725c5c;
$textColor: #5c5c5c;
$textColorDark: #4d4d4d;
$ShadowCardColor: #4e4e4e;
$colorNotification: #f85959;
$likeColor: #757575;
$ColorScrollBar: #e7e7e7;
$colorScrollSlider: #757575;
$colorAsidebar: #5c5c5c;
$graylightColor: #e7e7e7;
$colorPost: #4e4e4e;
$colorTopicoText: #4d4d4d;
$colorLike: #757575;
$colorGreyLight: #ececec;
$colorHeader: #fdf1eb;
$borderForm: #eaf1f2;
// $shadowColor: 0px 0px 10px rgba(0, 0, 0, 0.25);
// FONTS
$quickSand: "Quicksand", sans-serif;
$roboto: "Roboto", sans-serif;
